version: "3.8"

services:
  mysql:
    image: mysql:8.0
    container_name: mysql_santri
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: "iZd4m3rxi553gfMICh"
      MYSQL_DATABASE: "santridb"
      MYSQL_ROOT_HOST: "%"
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: phpmyadmin_santri
    restart: always
    depends_on:
      - mysql
    environment:
      PMA_HOST: mysql
      PMA_PORT: 3306
    ports:
      - "8080:80"

volumes:
  mysql_data:
